body{

    background-color: aqua;
}



.frame{

    border: 50px solid rgb(11, 221, 200);
    width: 500px;
    }

.card {
    text-align: center;
    display: inline-block;
    margin: 5px;
    list-style: none;
}


